//
// board_proto.cst
//
// BSD 3-Clause License
// 
// Copyright (c) 2026, Albert Herranz
//

// TangNano20k clock
IO_LOC "CLK_27M" 4;
IO_PORT "CLK_27M" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;

// XXX unused
//IO_LOC "CLK_14M" 80;
//IO_PORT "CLK_14M" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;

// TangNano20k TMDS
IO_LOC "tmds_clk_p" 33,34;
IO_PORT "tmds_clk_p" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "tmds_data_p[0]" 35,36;
IO_PORT "tmds_data_p[0]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "tmds_data_p[1]" 37,38;
IO_PORT "tmds_data_p[1]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "tmds_data_p[2]" 39,40;
IO_PORT "tmds_data_p[2]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;

// XXX unused
//IO_LOC "ws2812_led" 79;
//IO_PORT "ws2812_led" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "CART_OE_n" 20;
IO_PORT "CART_OE_n" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "CART_DATA_DIR" 19;
IO_PORT "CART_DATA_DIR" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "CART_INT" 71;
IO_PORT "CART_INT" IO_TYPE=LVTTL33 PULL_MODE=DOWN DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=3.3;

IO_LOC "CART_WAIT" 72;
IO_PORT "CART_WAIT" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 OPEN_DRAIN=OFF BANK_VCCIO=3.3;

IO_LOC "CART_DATA_SIG[7]" 73;
IO_PORT "CART_DATA_SIG[7]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[6]" 74;
IO_PORT "CART_DATA_SIG[6]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[5]" 75;
IO_PORT "CART_DATA_SIG[5]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[4]" 85;
IO_PORT "CART_DATA_SIG[4]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[3]" 77;
IO_PORT "CART_DATA_SIG[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[2]" 27;
IO_PORT "CART_DATA_SIG[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[1]" 28;
IO_PORT "CART_DATA_SIG[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CART_DATA_SIG[0]" 29;
IO_PORT "CART_DATA_SIG[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// XXX unused
//IO_LOC "dipsw[1]" 52;
//IO_PORT "dipsw[1]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
//IO_LOC "dipsw[0]" 53;
//IO_PORT "dipsw[0]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "CART_ADDR_SIG[7]" 17;
IO_PORT "CART_ADDR_SIG[7]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_ADDR_SIG[6]" 49;
IO_PORT "CART_ADDR_SIG[6]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_ADDR_SIG[5]" 48;
IO_PORT "CART_ADDR_SIG[5]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_ADDR_SIG[4]" 41;
IO_PORT "CART_ADDR_SIG[4]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_ADDR_SIG[3]" 42;
IO_PORT "CART_ADDR_SIG[3]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_ADDR_SIG[2]" 76;
IO_PORT "CART_ADDR_SIG[2]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_ADDR_SIG[1]" 31;
IO_PORT "CART_ADDR_SIG[1]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_ADDR_SIG[0]" 30;
IO_PORT "CART_ADDR_SIG[0]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "CART_WR_n" 16;
IO_PORT "CART_WR_n" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CART_RD_n" 15;
IO_PORT "CART_RD_n" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "CART_IORQ_n" 18;
IO_PORT "CART_IORQ_n" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "CART_RESET_n" 86;
IO_PORT "CART_RESET_n" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;

// XXX unused
//IO_LOC "button[0]" 88;
//IO_PORT "button[0]" IO_TYPE=LVTTL33 PULL_MODE=DOWN BANK_VCCIO=3.3;
//IO_LOC "button[1]" 87;
//IO_PORT "button[1]" IO_TYPE=LVTTL33 PULL_MODE=DOWN BANK_VCCIO=3.3;

